<div class="uk-grid">
  <div class="uk-width-1-1 masthead">
    <div class="container">
      <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
        <h1>SodaB</h1>
        <img src="assets/images/notificationSample.png">
        <p class="description"> Welcome to the world first online FREE APNS </p>
        <a class="btn btn-lg">Get Start</a>
        <p class="version"> Version: {{apns.version}} - {{apns.date}} - {{apns.author}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <form class="uk-form apns-body">
      <label class="title">Preparation stage</label>
      <div class="uk-form-row">
        <div class="bs-example">
          <label class="control-label">Select Certificate File</label>
          <input id="input-certificate" name="certificate" type="file" class="file" data-show-preview="false" data-show-upload="false">
        </div>
      </div>
      <div class="uk-form-row">
        <div class="bs-example">
          <label class="control-label">Select Key File</label>
          <input id="input-key" name="key" type="file" class="file" data-show-preview="false" data-show-upload="false">
        </div>
      </div>
      <div class="uk-form-row">
        <notice> We promise that your key and certificate will never be cached on our server </notice>
      </div>

      <label class="title">Notification is on fire <img src="assets/images/fire.png"></img></label>
      <div class="row">
        <div class="col-md-10">
          <label class="control-label">Device token</label>
          <input type="text" ng-model="apns.data.deviceToken" class="form-control" style="height: 34px; border-radius: 4px;">
        </div>
        <div class="col-md-2">
          <label class="control-label">Development/Production</label>
          <select ng-model="apns.data.isProduction" class="form-control" style="height: 34px;">
            <option value="false">Development</option>
            <option value="true">Production</option>
        </select>
        </div>
        <div class="col-md-12">
          <label class="control-label">Message</label>
          <div class="input-group">
            <input type="text" ng-model="apns.data.message" class="form-control" style="height: 34px; border-radius: 4px;">
            <span class="input-group-btn">
    				  <button class="btn btn-primary" ng-click="apns.submit()"><span class="uk-icon-send" aria-hidden="true"></span> Send</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
